<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>mobile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
        <link rel="stylesheet" href="<?php echo config_item('base_url');?>templates/default/main_mobile.css" type="text/css" media="all" />
		
        <?php echo $module_header; ?>
    </head>
    <body>
        <div>
            <?php echo $main_content; ?>
        </div>
    </body>
</html>