<?php
if (isset($login_error)){
?>
<div class="stand_error">
	<?php echo $login_error; ?>
</div>
<?php
} 
?>

<?php
if (isset($login_info)){
?>
<div class="stand_info">
	<?php echo $login_info; ?>
</div>
<?php
} 
?>

<div class="stand_form">
    <form action="<?php echo config_item('base_url').config_item('index_page').'/auth/login/'; ?>" method="post" >
        <div class="row_form">
            <label><?php echo __LOGIN_NAME_LABEL; ?></label>
            <input type="text" id="login_name" name="login_name" class="stand_input" value ="" />
        </div>

        <div class="row_form">
            <label><?php echo __PASSWORD_LABEL; ?></label>
            <input type="password" id="password" name="password" class="stand_input" value ="" />
        </div>
		
		<div class="row_form">
            <input type="submit" id="submit_login" name="submit_login" class="stand_button" value ="submit" />
        </div>
    </form>
</div>
