<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="<?php echo config_item('base_url');?>assets/css/black-tie/jquery-ui-1.8.17.custom.css" type="text/css" media="all" />
        <script src="<?php echo config_item('base_url');?>assets/js/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="<?php echo config_item('base_url');?>assets/js/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
        
        <link rel="stylesheet" href="<?php echo config_item('base_url');?>templates/default/main.css" type="text/css" media="all" />
        
        <script>
            var baseUrl = "<?php echo config_item('base_url').config_item('index_page').'/'; ?>";
        </script>
        
        
        <?php echo $module_header; ?>
		
        
    </head>
    <body>
        <div>
            <?php echo $main_content; ?>
        </div>
    </body>
</html>
